################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ORCID DB/.vs/ORCID DB/v15
